$mobile-width: 375px;
$desktop-width: 1440px;
$desktop-secondary-width: 920px;
$container-min-height: 70vh;
$tablet-width: 769px;

$primary-dark-cyan: hsl(158, 36%, 37%);
$primary-cream:hsl(30, 38%, 92%);


$neutral-very-dark-blue: hsl(212, 21%, 14%);
$neutral-dark-grayish: hsl(228, 12%, 48%);
$neutral-white: hsl(0, 0%, 100%);

$primary-font-size-paragraph: 14px;
$primary-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Fraunces', serif;